
<!--//modal dialog-->
<div class="modal fade text-center" id="modalResetPassword">
    <div class="modal-dialog modal-sm">
        <div class="modal-content resetPassModalContent">
            <div class="modal-header">
                <h3>Reset your password</h3>
            </div>

            <div class="modal-body">
                <p> what's your email address? :</p>
                <input type='email' id="resetEmailInput" placeholder="insert your email here" autofocus>

                <div class="alert alert-error hidden" id="alertEmailNotFound">
                    This Email is not registered, please check your details.
                </div>


            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" id="sendResetPassEmail">Submit</button>
            </div>
        </div>
    </div>
</div>