<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>

</head>
<body>
<div class="container" id="login_register_container">
    <% include ../partials/login_register.ejs %>
</div>

    <% include ../partials/reset_password_modal.ejs %>
</body>
</html>
