<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="../../../css/resetPassPage.css">

</head>

<body>

<header>
    <nav class="navbar navbar-default" id="reset_pass_nav" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-tree-deciduous"></span>
                    Chew The Rag
                </a>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="/" id="loginNavLink" class="hidden">Login</a></li>
            </ul>

        </div>
    </nav>
</header>
<div id="resetPassPageWrapper" class="center-block text-center">
    <row>
        <div class="center-block">
    <label for="newPassword" >New Password</label><br>
            <div class="newPassInputs">
    <input type="password" id="newPassword" placeholder="insert a new password" autofocus>
    <input type="password" id="confirmNewPassword" placeholder="re-enter the new password" autofocus>
            </div>
            </div>
    </row>
    <button id="setNewPass" class="btn btn-success">Submit</button>
</div>
</body>

<script src="../../../script/reset_password.js"></script>
</html>